Since you will not be able to see the flow run, it's important to go to your desktop app and take note of the current state. This could mean writing down the most recent ID number, or the last line in an excel sheet. Whatever actions your desktop flow performs should make a notable impact.

If you are logged into and using the machine, which will run the desktop flow, take a moment to save your work, close out of all your programs, and sign out. If you are running the desktop flow on a virtual machine, take a moment to ensure the VM is still running. Log into another device to trigger the flow or do so from the Power Automate App on your phone.

> [!div class="mx-imgBorder"]
> [![Screenshot of the mobile button example.](../media/mobile-button.png)](../media/mobile-button.png#lightbox)

After the flow has completed, log back into your device and ensure the unattended desktop flow executed properly.